*{
    box-sizing: border-box;
    outline: none;
}
@font-face {
    font-family: "Gilmer";
    src: url(./font/Gilmer-Light.otf);
          
   }
body{
    font-family: sans-serif;
    min-width: 280px;
    font-size: 1rem;
    font-family: "Gilmer", sans-serif;
   
}

.container{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 130px;
    
}

a{
    text-decoration: none;
    color: black;
}

#myBtn, .frames, .artistLinks{
    text-align: center;
}

ul{
   list-style: none;
   padding: 0;
}


/******************************** SIDE MENU *******************************************/
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 200px;
    height: 50%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(255, 171, 0, 0.9);
    border-radius: 10px;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
   
  }
  
  .sidebar-nav li a:hover, .sidebar-nav li a:active {
    text-decoration: none;
    color: rgb(255, 215, 6);
    background: rgba(226, 97, 44, 0.7);
    font-weight: bold;
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  /*
  .sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(43, 139, 235, 0.9);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: pink;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: pink;
    background: none;
  }
  */
  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  /**************************** MENU BURGER ******************************/
  .menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
    border-radius: 10px;
  }
  
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
  }
  
  .menu-toggle:hover {
    background: #343a40;
  }
  .scroll-to-top {
      position: fixed;
      right: 15px;
      bottom: 15px;
      display: none;
      width: 50px;
      height: 50px;
      text-align: center;
      color: white;
      background: rgba(52, 58, 64, 0.5);
      line-height: 45px;
    }
    
    .scroll-to-top:focus, .scroll-to-top:hover {
      color: white;
    }
    
    .scroll-to-top:hover {
      background: #343a40;
    }
    
    .scroll-to-top i {
      font-weight: 800;
    }
/********************************************** HEADER ***************************/
header{
    width:100%;
    text-align: center; 
}

.logo{
    background-color: white;
}
.logo a img{
    margin: -5px;
}

.logoimg{ 
    width: 100%;
}

#myBtn{

    display: none;
    justify-content: space-around;
    background-color:  #ffab00;
    text-transform: uppercase;  
}

#myBtn a{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    
}
#myBtn a:hover,#myBtn a:active {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgb(255, 215, 6);
    background-color: #e2612c;
    text-align: center;


}
/********************************************** allProducts SECTION  ***************************/

.description  {
    padding: 10px;
}

.allProducts .card h1{
    font-size:unset;
    margin: 0px;
    margin-bottom: 5px;
}

.bandName:hover{
    color: #04a8ff;
   
}
.albumTitle:hover{
    color: #e2612c;
   
}

.allProducts .card h2{
    font-size:unset;
    
    margin-top: 0px;
    margin-bottom: 3px;
}

.productCard{
    display: flex;
    flex-direction: column;
    margin: 35px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(52, 58, 64, 0.5);
}

.productCard .imgProduct{
    width: 100%;
}

.description{
    text-align: left;
}

.description h2{
    margin-bottom:5px;  
}

.description p{
    margin:0px;  
}

/********************************************* All Band ***********************************************************/

.allBandsArticle article{
    margin-top: 50px;
    text-align: center;   
}
.bandImg{
    width:100%;
    border-radius: 10%;
}
/***************************************************** Page artist ************************************************/
.artistArticle{
    margin-top: 50px;
}

.artistImg{
    width:100%;
}

.artistName{
    text-align: center;
}

.artistLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}


.frames{
    display: flex;
    flex-direction: column;    
}

.frames iframe{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-bottom: 10px; 
}
.fab{
    font-size:40px;
}
.facebook{
    color: #4267B2;
}
.youtube{
    color: #FF0000;
}
.insta{
    width:40px;
}

/************************************************** ProductPage************************************************/
.divImgProduct, .buyButton{
    text-align: center;
}
.buyButton{
    display: block;
    background-color: black;
    color:white;
    font-weight: bold;
    padding: 13px;  
}

.ImgProduct{
    display: block;
    width: 100%; 
}

.cache{
    display:none;
}
.refProduct{
    margin-top: 25px;   
}
.refProduct .band{
    font-size: 20px;
    margin: 0px;
}
.refProduct .title{
    font-size: 30px;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
}
.refProduct p{
    margin: 0px;
}
.refProduct .price{
    margin: 15px 0px 15px 0px;
    font-size: 25px;
    font-weight: bold;
}
.divBuyButton{
    margin-top: 30px;
}

.productPage .frames{
  
    margin-top: 30px;
}

/********************************************* FOOTER ****************************************/

.LeCepegif{
    width: 100%;
}
/***************************************************** SCROLL ****************************************************/
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(255, 171, 0, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: rgba(255, 171, 0, 0.9);
}

.scroll-to-top i {
    font-weight: 800;
}

@media screen and (min-width:500px)
{
    .productCard{
        max-width: 350px;
    }

    .logoimg{ 
        width: 100%;
    }
}

@media screen and (min-width:768px){
    .productCard{
        max-width: none;
    }
  
    .allProducts .card , .allBandsArticle, .otherProducts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    
    .allBandsArticle{
        justify-content:space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .productCard {  
        flex-basis: 23%; 
    }

    .artistArticle {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }
  
    .artistArticle div{
        flex-basis: 45%;
    }

    .articleProductPage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    }

    .articleProductPage div{
        flex-basis: 48%;
        margin-top: 0px; 
    } 
} 

@media screen and (min-width:900px){
    .productCard{
        flex-basis: 24.5%; 
    }

    .bandImg{
        max-width: 360px;
    }

    .menu-toggle{
        display: none;
    }

    #myBtn{
       display: flex;
        
    }
    .sticky{
        
        position: fixed;
        top: 0;
        width: 100%
    
    } 
    .marginTopMain{

        margin-top: 500px;
        
    }
}

@media screen and (min-width:1025px){
   .logoimg{ 
        width:100%;
    }
  

    .container{
        margin-top: 150px;
    }

    .productCard{
        flex-basis: 17.5%; 
    }

    .allBandsArticle{
        justify-content:flex-start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .allBandsArticle article
    {
        flex-basis: 50%; 
    }

    .ImgProduct{
        width: 80%;  
    }
}

@media screen and (min-width:1500px){ 
    .allBandsArticle article{
        flex-basis: 33.3%; 
    }

    .productCard{
        flex-basis: 19.8%; 
    }
}

@media screen and (min-width:1800px){
    .productCard{
        flex-basis: 20%; 
    }

    .allBandsArticle article{
        flex-basis: 25%; 
    }

    .articleProductPage{
        justify-content: space-around;  
    }
    .articleProductPage div{
        flex-basis: 40%;  
    }
}